@import "~materialize-css/sass/materialize.scss";

#users-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-item{
  width:20%;
}

.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

