@import "~materialize-css/sass/materialize.scss";
// body {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// main {
//   flex: 1 0 auto;
// }
    
#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-item{
  width:20%;
}

